# uim
type uim, domain;
type uim_exec, exec_type, file_type;

init_daemon_domain(uim)

allow uim uim_exec:file rx_file_perms;
allow uim shell_exec:file rx_file_perms;
#allow uim tee_exec:file rx_file_perms;
#allow uim tee_device:chr_file rw_file_perms;

r_dir_file(uim, sysfs_bluetooth_writable)
allow uim sysfs_bluetooth_writable:file setattr;
allow uim hci_attach_dev:chr_file rw_file_perms;
allow uim self:capability { chown dac_override fowner };
